input#fname {
    border: none;
    background: #F6F6F6;
}

.mainarea {
    background: #fff;
    padding: 27px;
}


.cancelbtn {
    border: 1px solid #197D9F;
    color: #197D9F;
    border-radius: 100px;
    padding: 13px 6rem;
    background: #fff;
}

.savebtn {
    background: #ACACAC;
    color: #fff;
    border-radius: 100px;
    border: none;
    padding: 1rem 6rem;

}

.addbtn {
    border-radius: 21px;
}


.sideclass {

    padding: 0px 35px !important;
}